.white-box {
    background-color: lightblue;
    color: black;
    width: 300px;
    right: 50%;
    transform: translate( 268%);
}
body {
    background-image: url('amazon_background.jpg');
    text-align: center;
    background-color: powderblue;
    
  }
  h1 {
   
    text-align: center;
    color: blue;
  }
  p {
    text-align: center;
    color: red;
  }