.massage{
    border: 2px solid skyblue;
    border-radius: 8px;
}
.acupuncture{
    border: 2px solid skyblue;
    border-radius: 8px;
}
.chiropractic{
    border: 2px solid skyblue;
    border-radius: 8px;
}
.reflexology{
    border: 2px solid skyblue;
    border-radius: 8px;
}
.Osteopathy{
    border: 2px solid skyblue;
    border-radius: 8px;
}
.employee1{
    border: 2px solid skyblue;
    border-radius: 8px;
}
.employee2{
    border: 2px solid skyblue;
    border-radius: 8px;
}
.employee3{
    border: 2px solid skyblue;
    border-radius: 8px;
}
h1{
    text-align: center;
}
.companyname{
    background-color:lightblue;
}
/* .services{
    background-color:lightblue;
} */
/* .services{
    background-color:lightblue;
}
.team{
    background-color:lightblue;
}
.appointment{
    background-color:lightblue;
} */




