/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 138px;
  transition: 0.3s;
  width: 33%;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 100px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: skyblue
}
h1 {
   
  text-align: center;
  color: blue;
}
body {
  
  text-align: center;
  background-color: powderblue;
  
}